<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <paths>
        <media-path>/media/</media-path>
        <log-path>/opt/casparcg/log/</log-path>
        <data-path>/opt/casparcg/data/</data-path>
        <template-path>/templates/</template-path>
    </paths>
    <channels>
        <!-- Channel 1: CEF + FFmpeg consumer -->
        <channel>
            <video-mode>720p2500</video-mode>
        </channel>
        <!-- Channel 2: CEF + Offline consumer -->
        <channel>
            <video-mode>720p2500</video-mode>
        </channel>
        <!-- Channel 3: Ultralight + FFmpeg consumer -->
        <channel>
            <video-mode>720p2500</video-mode>
        </channel>
        <!-- Channel 4: Ultralight + Offline consumer -->
        <channel>
            <video-mode>720p2500</video-mode>
        </channel>
    </channels>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
    <html>
        <enable-gpu>false</enable-gpu>
    </html>
</configuration>
